
		<main class="container">
			<div class="row login">
				<form >
					<h1>Registration</h1>
					<input type = "text" name="name" placeholder="UserName" ng-model = "username" id="Username">
					<input type="email" name="email" placeholder="Email" ng-model = "email" id="email">
					<input type="password" name="password" ng-model="password" placeholder="Password" id="password">
					<input type="submit" value="Sign Up" ng-click="createUser()">
				</form>
				<a href = "#/logIn">Want to Log In?</a>
			</div>
		